.fab:hover, 
.social svg:hover path {
  fill: rgb(var(--ac-primary)); 
  color: rgb(var(--ac-primary));
  stroke-width: 3px; 
    text-shadow: rgb(var(--ac-primary));
    transition: all 0.1s ease 0s;
}
  
.fa-tiktok {

    color: rgb(var(--ac-white));
    font-size: 26px;
    padding: 10px;
}

.fa-twitter {

    color: rgb(var(--ac-white));
    font-size: 26px;
    padding: 10px;
}


.fa-bluesky {

    margin-top: 5px;
  
}

.fa-instagram {

    color: rgb(var(--ac-white));
    font-size: 26px;
    padding: 5px;
}

