.fab:hover, 
.social svg:hover path {
  fill: rgba(136, 90, 90, 0.6); 
  stroke: rgba(136, 90, 90, 0.6);
  stroke-width: 3px; 
    text-shadow: 1px 0px 20px #885A5A;
    transition: all 0.1s ease 0s;
}
  
.fa-tiktok {

    color: #885A5A;
    font-size: 26px;
    padding: 10px;
}

.fa-twitter {

    color: #885A5A;
    font-size: 26px;
    padding: 10px;
}


.fa-bluesky {

    color: #885A5A;
    margin-top: 5px;
  
}

.fa-instagram {

    color: #885A5A;
    font-size: 26px;
    padding: 5px;
}

