---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro'; // this is social media icons
---

<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<head>
        <style>
            body, html {
              background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/pictures/contentsbg.png") center/cover no-repeat;
              position: relative;
            }
        
            .content-button {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 1rem;
              border: 2px solid #FFFFFF;
              border-radius: 12px;
              font-size: 20px;
              color: #FFFFFF;
              font-family: "Century Gothic";
              transition: background-color 0.4s, color 0.4s;
            }
        
            .content-button:hover {
              background-color: #373D20;
              color: #DAD7CD;
            }
        
            .grid {
              display: grid;
              grid-template-columns: 1fr;
            }
        
            @media (min-width: 640px) {
              .grid {
                grid-template-columns: repeat(2, 1fr);
              }
            }
        
            @media (min-width: 1024px) {
              .grid {
                grid-template-columns: repeat(3, 1fr);
              }
            }
          </style>
        </head>
        <body>
            <Header />
          <div class="flex flex-col h-screen">        
            <div class="py-12 text-3xl md:text-6xl">
              <h1 style="color:white; font-family: Century Gothic; text-align: center; font-weight: 100;">Contents</h1>
            </div>
        
            <div class="px-12 py-12">
              <section class="grid gap-3">
                <a href="/aboutme" class="content-button">About Me</a>
                <a href="/education" class="content-button">Education</a>
                <a href="/skills" class="content-button">Skills</a>
                <a href="/currentWork" class="content-button">Current Work</a>
                <a href="/experience" class="content-button">Experience</a>
                <a href="/collaborate" class="content-button">Let's Collaborate!</a>
                <a href="/contact" class="content-button">Contact</a>
              </section>
            </div>
          </div>
        </body>
<Footer />
</html>
