---
import Footer from '../components/Footer.astro';
import HeaderFull from '../components/HamburgerHeader.astro';
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
    <SEO
    title="Amanda Liczner - Contact"
    description="Contact me for more information about my research or to collaborate."
    openGraph={{
      basic: {
        title: "Amanda Liczner - Contact",
        type: "website",
        image: "/AmandaLiczner.jpg",
      }
    }}/>
		<style> 
            body {
            color: #f7f3ed; 
        }
        .page-title {
            font-size: 4em;
            font-family: Century Gothic;
            color: #f7f3ed;
        }


 .fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* set a negative z-index to put it behind the text */
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%); /* apply brightness filter to darken the video */
 
}
  .google-form-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .google-form-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Remove iframe border */
  }

  .container {
    position: relative;
    overflow: hidden;
  }
</style>

</head>

<main>
  <div class="container">
    <HeaderFull />
    <div class="fullscreen-bg">
      <div class="fullscreen-bg__overlay"></div>
      <video loop muted autoplay class="fullscreen-bg__video">
        <source src="/contactVid.mp4" type="video/mp4">
      </video>
    </div>
  
    <h1 class="page-title py-12 px-12 overflow-hidden">Contact</h1>
    <div class="google-form-container">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfrcxFYMimZ8d9Ph3AgzNMrn9iWkp2Zh8-7fDJT1p76k0aNtQ/viewform?embedded=true">Loading…</iframe>
    </div>
  </div>
</main>
		<Footer />

</html>