---
import Footer from '../components/Footer.astro';
import HeaderFull from '../components/HeaderFull.astro'; // this is the full nav bar with social
---

<!DOCTYPE html>
<html lang="en">
  
	<head>
		<style> 
            body {
            background-image: url("pictures/currentbg.jpg");
            background-color: rgba(0,0,0,.5);
            background-blend-mode: multiply;
            color: #f7f3ed;
            background-size: contain ;
        }
        .page-title {
            font-size: 4em;
            font-family: Century Gothic;
            color: #f7f3ed;
        }

        .hyperlinks {
            color: #ECD498;
        }

        hr {
        width: 60%;
        }

        li {
        margin-left: 5%;
        margin-bottom: 5px;
        list-style-type: number;
         }

            </style>
            </head>
        
        <main>

            <div> <HeaderFull / > </div> 
            <h1 class="page-title content flex py-24 px-12"> Current work </h1>
            <h2 class="px-12 font-semibold text-2xl py-2 text-amber-100"> <a href="#project1"> Project 1: Impacts of environmental stressors on bumble bee queen movement.</a></h2>
            <h2 class="px-12 font-semibold text-2xl py-2 text-amber-100"> <a href="#project2"> Project 2: Learning their needs by tracking the bees. </a> </h2>
            <h2 class="px-12 font-semibold text-2xl py-2 text-amber-100"><a href="#project3"> Project 3: Does soil temperature predict bumble bee queen emergence in spring? </a> </h2>
            <div class="py-6 px-12 mx-24">
            <h2 class="font-semibold text-2xl py-6" id="project1"> Project 1: Impacts of environmental stressors on bumble bee queen movement.</h2>
            <hr>
            <div class="content flex grid grid-cols-12">
            <div class="item-body col-span-5 col-start-2 text-xl px-6 py-6">
                Bumble bees are important pollinators for wild flowers and crops. They pollinate flowers while collecting the flower&#39;s pollen and nectar that they collect to feed themselves and their young. While collecting pollen and nectar in agricultural areas, they can become exposed to pesticides sprayed on crops to fend off crop pests. Although the levels of these pesticides that are sprayed on crops are not allowed to reach limits that are lethal to bumble bees, researchers have noted there can be sublethal impacts of these chemicals.
           </div>
             <div class="col-span-5 col-start-7 text-xl item-body px-6 py-6">
             <img  class="rounded-full" src="./pictures/Project1A.JPG" alt="A bumble bee landed on a flower in the field">
           </div>
            <div class="item-body col-span-5 col-start-2 text-xl px-6 py-6">
          Sublethal impacts do not cause the bees to die, but can still cause harm for example by limiting learning and memory (1, 2), limiting foraging ability(3, 4), interrupt sleep and circadian rhythms(5, 6), and change flight behaviour(7, 8). Although we know that sublethal impacts do occur, pesticide regulatory agencies are not required to test for these impacts before approving the use of pesticides.  
            </div>
             <div class="col-span-5 col-start-7 text-xl item-body px-6 py-6">
            Neonicotinoids are one class of pesticides that have become notorious for their impacts to pollinators such as bumble bees. As their negative impacts become widely known, neonicotinoids are becoming increasingly regulated and restricted. This will lead to growers looking for alternative pesticides to protect their crops from pests. Newer classes of pesticides could replace neonicotinoid use but whether these newer classes have sublethal impacts is not known.
            </div>
            
            <div class="item-body col-span-5 col-start-2 text-xl px-6 py-6">
                To test for possible sublethal impacts of newer pesticide classes on bumble bee queen movement in spring and late summer using radiotelemetry. <br>
            <br>
            We are radio tagging bumble bees to track their movement after being exposed (or not) to different pesticides and comparing their movement behaviour.     
            </div>
                   <div class="col-span-5 col-start-7 text-xl item-body px-6 py-6">
                   <img  class="rounded-full" src="./pictures/Project1B.JPG" alt="A bumble bee with a radio tag on its back climbing on Amanda's finger"> 
                </div>
                <div class="item-body col-span-5 col-start-2 text-xl px-6 py-6">
                    <img  class="rounded-full" src="./pictures/Project1C.JPG" alt="Amanda inspecting a radiotelemetry tower "> 
                </div>
                       <div class="col-span-5 col-start-7 text-xl item-body px-6 py-6">
                        Their movements are tracked using radio towers set up at our study sites. Using this data, we have compared the flight distance, home range, habitat usage and selection of bumble bee queens. The results are still preliminary, but it unfortunately looks like a newer class of pesticide called diamides are just as harmful as neonicotinoids when we look at their flight behaviour. 
                    </div>
        </div>
            <ol type="1">
            <li>E. E. W. Samuelson, Z. P. Chen-Wishart, R. J. Gill, E. Leadbeater, Effect of acute pesticide exposure on bee spatial working memory using an analogue of the radial-arm maze. Scientific Reports. 6, 38957 (2016).</li>
            <li>D. A. Stanley, K. E. Smith, N. E. Raine, Bumblebee learning and memory is impaired by chronic exposure to a neonicotinoid pesticide. Scientific Reports. 5, 16508 (2015).</li>
            <li>D. A. Stanley, N. E. Raine, Chronic exposure to a neonicotinoid pesticide alters the interactions between bumblebees and wild plants. Functional Ecology. 30, 1132–1139 (2016).</li>
            <li>D. A. Stanley, A. L. Russell, S. J. Morrison, C. Rogers, N. E. Raine, Investigating the impacts of field-realistic exposure to a neonicotinoid pesticide on bumblebee foraging, homing ability and colony growth. Journal of Applied Ecology. 53, 1440–1449 (2016). </li>
            <li>M. C. Tackenberg, M. A. Giannoni-Guzmán, E. Sanchez-Perez, C. A. Doll, J. L. Agosto-Rivera, K. Broadie, D. Moore, D. G. McMahon, Neonicotinoids disrupt circadian rhythms and sleep in honey bees. Scientific Reports. 10, 17929 (2020).</li>
            <li>K. Tasman, S. A. Rands, J. J. L. Hodge, The neonicotinoid insecticide imidacloprid disrupts bumblebee foraging rhythms and sleep. iScience. 23, 101827 (2020).</li>
            <li>D. Kenna, H. Cooley, I. Pretelli, A. R. Rodrigues, S. D. Gill, R. J. Gill, Pesticide exposure affects flight dynamics and reduces flight endurance in bumblebees. Ecology and Evolution. 9, 5637–5650 (2019).</li>
            <li>S. Tosi, G. Burgio, J. C. Nieh, A common neonicotinoid pesticide, thiamethoxam, impairs honey bee flight ability. Scientific Reports. 7, 1201 (2017).</li>
            </ol> 

            <h2 class="font-semibold text-2xl py-6" id="project2"> Project 2: Learning their needs by tracking the bees. </h2>
            <hr>
            <div class="content flex grid grid-cols-12">
            <div class="item-body col-span-5 col-start-2 text-xl px-6 py-6">
                Bumble bees need at least 3 resources to survive: flowers (their food source), nest sites (to raise their young), and overwintering sites (for queens to hibernate for the winter). However, we know very little about their nesting and overwintering habitat, partly because these sites are so hard to find – they are usually underground!
           <br>
           <br>
                We also know very little about their movement behaviour and habitat selection. For larger animals, it has been easier to track their movements using radio collars or GPS collars that send a signal giving the animal’s location. Until very recently the technology has not existed for researchers to be able to follow smaller animals such as bumble bees. 
            </div>
             <div class="col-span-5 col-start-7 text-xl item-body px-6 py-6">
             <img  class="rounded-full" src="./pictures/Project2A.JPG" alt="Amanda working at a picnic table with a bumble bee on her finger">
             </div>
             <div class="item-body col-span-5 col-start-2 text-xl px-6 py-6">
                <img  class="rounded-full h-4/5" src="./pictures/Project2B.JPG" alt="Amanda inspecting a radiotelemetry tower "> 
            </div>
                   <div class="col-span-5 col-start-7 text-xl item-body px-6 py-6">
                    In this project we tagged spring bumble bee queens and late summer bumble bee queens to learn more about their movement behaviour, habitat selection, and about their nesting and overwintering habitat locations. 
            <br>
            <br>
            We are still analyzing the data, but it appears late-summer queens often return to the same areas and can be active for up to 50 days. They also may overwinter at the same location with many other queens. 
          </div>
            </div>
            <h2 class="font-semibold text-2xl py-6" id="project3"> Project 3: Does soil temperature predict bumble bee queen emergence in spring? </h2>
            <hr>
            <div class="content flex grid grid-cols-12">
                <div class="item-body col-span-5 col-start-2 text-xl px-6 py-6">
                    Bumble bee queens hibernate throughout the winter by burying themselves in the ground. In the spring they emerge from their hibernation and begin looking for nest sites. Researchers have noticed that some species tend to wake up from hibernation earlier than others. The timing of when different species wake up from hibernation could be related to soil temperature; perhaps early emerging species hibernate in the top layers of soil which could warm up faster than deeper layers waking them up faster. 
                </div>
                 <div class="col-span-5 col-start-7 text-xl item-body px-6 py-6">
                 <img  class="rounded-full" src="./pictures/Project3A.JPG" alt="A soil temperature logger collects measurements in a forest.">
                 </div>
                 <div class="item-body col-span-5 col-start-2 text-xl px-6 py-6">
                    <img  class="rounded-full" src="./pictures/Project3B.JPG" alt="A close up image of a bumble bee on a flower "> 
                </div>
                       <div class="col-span-5 col-start-7 text-xl item-body px-6 py-6">
                        To test the impact of soil temperature on queen bumble bee emergence timing, we surveyed for bumble bee queens, while simultaneously measuring soil temperature at different depths. 
            <br>
            <br>
            In our preliminary analyses we found that some species, particularly early emerging species may respond to soil temperature, while later emerging species may respond more to air temperature. </div>
           </div>
            </div>
           
        </main>
        <Footer />
        <a href="https://www.freepik.com/free-photo/white-grass-flowers-with-brown-wood_5491581.htm#page=2&query=dark%20wildflower%20background&position=44&from_view=search&track=ais">Image by jcomp</a> on Freepik
		

</html>

