---
import Footer from '../components/Footer.astro';
import HeaderFull from '../components/HeaderFull.astro'; // this is the full nav bar with social
import FadeIn from "../components/FadeIn"
---

<!DOCTYPE html>
<html lang="en">
  
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style> 
            body {
            background-image: url("pictures/educationbackground.png");
            background-size:cover;
            color: #f7f3ed; 
            text-shadow: 0.25px 0.25px #717E8E;
            background-color: rgba(0,0,0,.6);
            background-blend-mode: multiply;
        }
        .page-title {
            font-size: 4em;
            font-family: Century Gothic;
            color: #f7f3ed;
            text-shadow: 1px 1px #717E8E;
        }

        img {
            border-radius: 50%;
           ;
        }

        .hyperlinks {
            color: #ECD498;
        }

        li {
    margin-left: 5%;
    list-style-type: circle;
    font-size: 1.2rem;
 }

 .font-header {
    padding-top: 20px;
    color: #ECD498;
    font-size: 1.5rem;
    line-height: 2rem;
}

@media (max-width: 640px) {
            /* .font-header {
                font-size: 1rem;
            }
            .page-title {
                font-size: 2rem;
            }
            .li {
                font-size: 0.5rem;
            } */
            .all-content {
                flex-direction: column;
            }
            .item-body,
            .image-body {
                flex: 0 0 100%; /* Stack elements on top of each other */
                padding: 10% 10px; /* Adjust padding as needed */
                min-width: 100%;
            }
        }

        /* For larger screens */
        @media (min-width: 641px) {
            .all-content {
                display: flex;
                flex-wrap: nowrap;
                align-items: stretch;
            }
            .item-body {
                flex:0 0 50%; 
                padding-left: 50px;
                padding-right: 20px;
                padding: 1em;
            }
            .image-body {
                flex: 1;
                padding: 1.5em;
                width: 100%; /* Set the width of the container to fill its parent */
                max-width: 70vh; /* Set the maximum width of the container to 80% of the viewport height */

             }
    
        }

            </style>
            </head>
            
        <main>

            <div> <HeaderFull / > </div> 
            <h1 class="page-title py-12 px-12"> Education </h1>
            <div class="all-content px-12">
                <div class="item-body">
                   <h2 class=" font-header"> Ph.D. Biology - York University, Canada </h2>
                   <ul>
                    <li> 2016-2020 </li>
                    <li> Supervised by Dr. Sheila Colla </li>
                    <li class="italic"> The conservation management and ecology of Northeastern North American bumble bees.</li>
                    </ul>
                    <h2 class="font-semibold font-header">  M.Sc. Biology - York University, Canada </h2>
                <ul>
                <li> 2014-2026 </li>
                <li> Supervised by Dr. Christopher Lortie</li>
                <li class="italic"> Nursing back to health: Shrubs facilitate the restoration of native forbs with reductions in non-native competition in an invaded arid shrubland.</li>

            </ul>
       
                <h2 class="font-semibold font-header">Spec. Hons. B.Sc. Biology - York University, Canada </h2>
                <ul>
                <li> 2009 - 2013 </li>
                <li> Undergraduate thesis supervised by Dr. Christopher Lortie</li>
                <li class="italic"> Honors thesis: A desert nurse plant (Larrea tridentata) facilitates the germination and seed characteristics of winter annuals in California.
            </ul> 
    </div>
    <div class="image-body">
                <img  src="/education.jpg "  alt="Amanda Liczner graduation headshot">
            </div>
        </div>

        </main>
		<Footer /> Image by <a href="https://www.freepik.com/free-photo/suitcase-with-books-top_1103553.htm#query=book%20in%20moss&position=3&from_view=search&track=ais">Freepik</a></a>
  

</html>
