---
import Footer from '../components/Footer.astro';
import HeaderFull from '../components/HamburgerHeader.astro';
import { SEO } from "astro-seo";
---



<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <SEO
    title="Amanda Liczner - Experience"
    description="My past experience includes bumble bee conservation, desert plant restoration, and connectivity conservation."
    openGraph={{
      basic: {
        title: "Amanda Liczner - Experience",
        type: "website",
        image: "/pictures/Experience2.jpg",
      }
    }}/>
		<style> 
   
     
    
            .all-content {
              animation: fadeInAnimation ease 2s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

        
            body {
            background-image: url("/pictures/ExperienceBG.png");
            background-color: rgba(0,0,0,.5);
            background-blend-mode: multiply;
            color: #f7f3ed; 
        }
        .page-title {
            font-family: Century Gothic;
            color: #f7f3eds;
        }

        
        @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

            </style>
            </head>
        
        <main>
       
            <div> <HeaderFull / > </div> 
              <div class="all-content">
            <h1 class="page-title  py-12 md:px-12 mx-auto px-2 text-3xl md:text-6xl"> Experience </h1>
            <div class="max-w-md mx-auto bg-neutral-100/80 rounded-xl shadow-md overflow-hidden md:max-w-4xl my-4">
                <div class="md:flex">
                  <div class="md:w-2/5">
                    <img class="h-72 w-full object-cover md:h-full" src="/pictures/Experience1.JPG" alt="A lookout of an alpine lake and mountain in the Rocky Mountains of Canada">
                  </div>
                  <div class="p-8 md:w-3/5">
                    <a href="https://ok.ubc.ca/"class="uppercase tracking-wide text-sm font-semibold text-black hover:underline">University of British Columbia Okanagan</a>
                    <div  class="block mt-1 text-lg leading-tight font-medium text-black">Connectivity and conservation</div>
                    <p class="mt-2 text-slate-500">My first postdoctoral fellowship position was at the University of British Columbia Okanagan (supervised by: Drs. Jason Pither, Adam Ford, Lael Parrot, Josie Hughes and Richard Pither). We are working in a large collaborative group to synthesize future research directions for connectivity conservation.</p>
                  </div>
                </div>
              </div>
              <div class="max-w-md mx-auto bg-neutral-100/80 rounded-xl shadow-md overflow-hidden md:max-w-3xl my-8">
                <div class="md:flex">
                  <div class="md:w-2/5">
                    <img class="h-72 w-full object-cover md:h-full" src="/pictures/Experience2.jpg" alt="Amanda taking a selfie with a dog used for the detection of bumble bee nests.">
                  </div>
                  <div class="p-8 md:w-3/5">
                    <a href="https://www.yorku.ca/"class="uppercase tracking-wide text-sm font-semibold text-black hover:underline">York University</a>
                    <div  class="block mt-1 text-lg leading-tight font-medium text-black">Bumble bee conservation</div>
                    <p class="mt-2 text-slate-500">   My PhD research focused on at-risk bumble bee species habitat with the native pollinator research lab (supervised by Dr. Sheila Colla). Check out some of <a class="text-black  hover:underline" href="https://www.savethebumblebees.ca/">this work! </a>
                        I used a variety of methods to determine bumble bee habitat. These included literature reviews, local-scale surveys, landscape-scale models, and detection dogs. I also mapped bumble bee conservation priority areas across Canada.
                    </div>
                </div>
              </div>
              <div class="max-w-md mx-auto bg-neutral-100/80 rounded-xl shadow-md overflow-hidden md:max-w-3xl my-4">
                <div class="md:flex">
                  <div class="md:w-2/5">
                    <img class="h-72 w-full object-cover md:h-full" src="/pictures/Experience3.JPG" alt="Amanda on top of a boulder in the Granite Mountains of the Mojave Desert.">
                  </div>
                  <div class="p-8 md:w-3/5">
                    <a href="https://www.yorku.ca/"class="uppercase tracking-wide text-sm font-semibold text-black hover:underline">York University</a>
                    <div  class="block mt-1 text-lg leading-tight font-medium text-black">Native plant restoration</div>
                    <p class="mt-2 text-slate-500">  Earlier research experience including my MSc and BSc have taken me to a variety of locations including: Californian deserts to study native plant restoration and examining endangered species behaviour, northern Ontario lakes to investigate local and landscape factors that determine cyanobacteria abundance, and the alpine-tundra of northern British Columbia to compare seed germination with and without plant interactions. </div>
                </div>
              </div>
              <div class="grid place-items-center ">
              <object data="/AmandaLicznerCV.pdf#toolbar=0" type="application/pdf" width="80%" height="800px"> 
                </object>
            </div>
            </div>


        </main>
		<Footer />

        <a href="https://www.freepik.com/free-photo/wide-selective-closeup-shot-yellow-plants-field_7955741.htm#page=6&query=moody%20background&position=43&from_view=search&track=ais">Image by wirestock</a> on Freepik

</html>
