---
import Footer from '../components/Footer.astro';
import HeaderFull from '../components/HeaderFull.astro'; // this is the full nav bar with social
---



<!DOCTYPE html>
<html lang="en">
	<head>
		<style> 
            body {
            background-image: url("pictures/ExperienceBG.jpg");
            background-color: rgba(0,0,0,.5);
            background-blend-mode: multiply;
            color: #f7f3ed; 
        }
        .page-title {
            font-size: 4em;
            font-family: Century Gothic;
            color: #f7f3eds;
        }

        .hyperlinks {
            color: #ECD498;
        }
            </style>
            </head>
        
        <main>
            <div> <HeaderFull / > </div> 
            <h1 class="page-title content flex py-24 px-12"> Experience </h1>
                <div class="content flex py-6 px-12 mx-24 grid grid-cols-12">
                    <div class="item-body col-span-5 col-start-2 text-xl">
                        My first postdoctoral fellowship position was at the University of British Columbia Okanagan (supervised by: Drs. Jason Pither, Adam Ford, Lael Parrot, Josie Hughes and Richard Pither). We are working in a large collaborative group to synthesize future research directions for connectivity conservation.
                    </div>
                    <img class="col-span-5 col-start-7" src="./pictures/Experience1.jpg" alt="A lookout of an alpine lake and mountain in the Rocky Mountains of Canada">
                </div>
                <div class="content flex py-6 px-12 mx-24 grid grid-cols-12">
                      <img class="col-span-4 col-start-2" src="./pictures/Experience2.jpg" alt="Amanda taking a selfie with a dog used for the detection of bumble bee nests">
                      <div class="item-body col-span-5 text-xl col-start-7">
                        My PhD research focused on at-risk bumble bee species habitat with the native pollinator research lab (supervised by Dr. Sheila Colla). Check out some of <a class="hyperlinks" href="https://www.savethebumblebees.ca/">this work! </a>
                        I used a variety of methods to determine bumble bee habitat. These included literature reviews, local-scale surveys, landscape-scale models, and detection dogs. I also mapped bumble bee conservation priority areas across Canada.
                    </div>
                </div>
                <div class="content flex py-6 px-12 mx-24 grid grid-cols-12">
                    <div class="item-body col-span-5 col-start-2 text-xl">
                        Earlier research experience including my MSc and BSc have taken me to a variety of locations including: Californian deserts to study native plant restoration and examining endangered species behaviour, northern Ontario lakes to investigate local and landscape factors that determine cyanobacteria abundance, and the alpine-tundra of northern British Columbia to compare seed germination with and without plant interactions.
                    </div>
                    <img class="col-span-5 col-start-7" src="./pictures/Experience3.jpg" alt="A lookout of an alpine lake and mountain in the Rocky Mountains of Canada">
                </div>
              </div>
              <div class="grid h-screen place-items-center">
              <object data="./AmandaLicznerCV.pdf#toolbar=0" type="application/pdf" width="60%" height="800px"> 
                </object>
            </div>


        </main>
		<Footer />
        <a href="https://www.freepik.com/free-photo/wide-selective-closeup-shot-yellow-plants-field_7955741.htm#page=6&query=moody%20background&position=43&from_view=search&track=ais">Image by wirestock</a> on Freepik

</html>
