---
import Button from '../components/Button.astro'
import CTA from '../sections/CTA.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Intro from '../sections/Intro.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
import AboutMe from '../sections/AboutMe.astro'
import { SEO } from 'astro-seo'
import '../styles/main.scss'

const siteUrl = Astro.site?.toString() || 'https://amandaliczner.ca'
---

<SEO
  title="Dr. Amanda Liczner - Ecologist & Bumble Bee Conservation Researcher"
  description="Dr. Amanda Liczner is an ecologist and conservation biologist currently researching bumble bee behaviour. She is a post-doctoral fellow at the University of Guelph and has a radio telemetry network she uses to understand the movement of bumble bees. Come learn more about Amanda's current and past research."
  canonical={`${siteUrl}/`}
  openGraph={{
    basic: {
      title: 'Dr. Amanda Liczner - Ecologist & Bumble Bee Conservation Researcher',
      type: 'website',
      image: `${siteUrl}/pictures/AmandaLiczner.jpg`,
      url: siteUrl,
    },
    optional: {
      description: "Dr. Amanda Liczner is an ecologist and conservation biologist currently researching bumble bee behaviour.",
      siteName: 'Amanda Liczner',
    }
  }}
  twitter={{
    card: 'summary_large_image',
  }}
/>

<Layout title="Homepage - Dr. Amanda Liczner">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      align="center"
      title=" <strong>Dr. Amanda Liczner</strong>"
      description="Ecologist • Bumble Bees • Conservation"
    >
      <div>
        <Button
          href="/#about-me"
          text="About me"
          variant="primary"
          className="lg:text-2xl text-lg  tracking-wide"
        />
      </div>
    </Hero>
    <Intro />
    <AboutMe />
    <CTA
      align="center"
      title="Learn more</strong>"
      description="Find out about my research and find the latest updates on my projects."
    >
      <Button
        href="/experience"
        text="Experience"
        className="text-xl tracking-wide"
        variant="primary"
      />
    </CTA>
  </main>
</Layout>
