---
import Header from '../components/Header.astro';
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <SEO
      title="Amanda Liczner - Homepage"
      description="Amanda Liczner is a researcher in conservation, restoration, and community ecology. She is working currently as a post-doctoral fellow at the University of Guelph."
      openGraph={{
        basic: {
          title: "Amanda Liczner - Homepage",
          type: "website",
          image: "/AmandaLiczner.jpg",
        }
      }}/>
      <style>



.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/pictures/homepagepiccrop.png");

/* Set a specific height */
height: 100vh;
width: 100vw;
overflow-y: hidden; 

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 33%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}
.title{
  font-size: 6vw;
  font-family: "Century Gothic";
  overflow: hidden;
  white-space: nowrap;
}

.subtitle{
  font-size: 3vw;
  font-family: Calibri;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.homepage-button{
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  padding: 2%;
  border-radius: 12px;
  font-size: 2vw;
  font-family: Calibri;
  transition-duration: 0.4s;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-button:hover {
  background-color: #373D20;
  color: grey;
}

      </style>

    </head>
    
  <div class="hero-image">
    <div class="hero-text">
      <h1 class="title">Dr. Amanda Liczner</h1>
      <p class= "subtitle">Ecologist - Bumble Bees - Conservation</p>
      <button class="homepage-button" onclick="location.href='/contents'">Welcome to my website! </button>
    </div>
    <div>	
      <Header/></div>
  </div>


  </body>
</html>