---
import Button from '../components/Button.astro'
import Code from '../components/Code.astro'
import CTA from '../sections/CTA.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Intro from '../sections/Intro.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
import AboutMe from '../sections/AboutMe.astro'
import '../styles/main.scss'
---

<Layout title="Homepage - Amanda Licnzer">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      align="center"
      title=" <strong>Dr. Amanda Liczner</strong>"
      description="Ecologist • Bumble Bees • Conservation"
    >
      <div>
        <Button
          href="/#about-me"
          text="About me"
          variant="primary"
          className="lg:text-2xl text-lg  tracking-wide"
        />
      </div>
    </Hero>
    <Intro />
    <AboutMe />
    <CTA
      align="center"
      title="Learn more</strong>"
      description="Find out about my current research and find the latest updates on my projects."
    >
      <Button
        href="/components/button"
        text="Current work"
        className="text-xl tracking-wide"
        variant="primary"
      />
    </CTA>
  </main>
  <Footer />
</Layout>
