---
import "../styles/social.css"
---
<header>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" />
    <div class="social col-span-3">
        <a href="https://twitter.com/aliczner" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.tiktok.com/@bumblebeehaviour" target="_blank">
            <i class="fab fa-tiktok"></i>
        </a>
        <a href="https://ecoevo.social/@bumblebeehaviour" target="_blank">
            <i class="fab fa-mastodon"></i>
        </a>
        <a href="https://www.instagram.com/bumblebeehaviour/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</header>


<body>


</body>
