---
import Hamburguer from './Hamburguer.astro'
import Social from './Social.astro'
---

<style>
  .header {
    background-color: rgba(var(--ac-accent), 0.9);
  }
</style>

<header
  class="header relative inset-x-0 top-0 text-white py-2 backdrop-blur-md z-20"
>
  <div class="container flex justify-between items-center relative pl-0">
    <Social />
    <nav>
      <ul class="flex items-center gap-8">
        <!-- <li class="hidden lg:block">
          <a
            class="text-md hover:text-primary transition duration-300 ease-in-out"
            href="/current-work">Current Work</a
          >
        </li> -->
        <li class="hidden lg:block">
          <a
            class="text-md hover:text-primary transition duration-300 ease-in-out"
            href="/skills-education">Skills & Education</a
          >
        </li>
        <li class="hidden lg:block">
          <a
            class="text-md hover:text-primary transition duration-300 ease-in-out"
            href="/experience">Experience</a
          >
        </li>
        <li class="hidden lg:block">
          <a
            class="text-md hover:text-primary transition duration-300 ease-in-out"
            href="/contact">Contact</a
          >
        </li>

        <li class="lg:hidden">
          <Hamburguer />
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
  import { DOMLoaded } from '../ts/utils'

  DOMLoaded(() => {
    const body = document.querySelector('body') as HTMLElement
    const hamburguer = document.querySelector(
      '[data-hamburguer]'
    ) as HTMLButtonElement
    const nav = document.querySelector('[data-nav]') as HTMLElement

    hamburguer.addEventListener('click', () => {
      hamburguer.toggleAttribute('open')
      nav.toggleAttribute('open')
      body.classList.toggle('overflow-hidden')
    })
  })
</script>
