<div class="absolute inset-0 h-screen w-full flex items-end">
  <div class="relative w-full h-[105vh]">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <img
      src="/pictures/homepagepic.jpg"
      alt="Hero Gradient"
      class="w-full h-full object-cover"
    />
  </div>
</div>
