---
import { SEO } from 'astro-seo'
import Content from '../../layouts/Content.astro'
import Heading from '../../components/Heading.astro'
import Article from '../../components/Article.astro'
import Layout from '../../layouts/Layout.astro'
import Sidebar from '../../layouts/Sidebar.astro'
import Text from '../../components/Text.astro'
import Header from '../../components/Header.astro'
import ProjectCard from '../../components/ProjectCard.astro'
import '../../styles/main.scss'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <SEO
      title="Amanda Liczner - Experience"
      description="My past experience includes bumble bee conservation, desert plant restoration, and connectivity conservation."
      openGraph={{
        basic: {
          title: 'Amanda Liczner - Experience',
          type: 'website',
          image: '/pictures/Experience2.jpg',
        },
      }}
    />
  </head>

  <main>
    <Layout title="Experience - Amanda Liczner">
      <Sidebar class="lg:hidden" />
      <Header />
      <Content>
        <section>
          <Article>
            <Heading
              slot="header"
              level={1}
              gradient
              class="inline-block py-1"
              text="Recent work"
            />
            <Text class="text-xl"
              >Click on a project below to learn about my work
            </Text>
            <ProjectCard
              image="/pictures/Project1A.JPG"
              title="Impacts of environmental stressors on bumble bee queen movement"
              description="We are testing for possible impacts of pesticides on the movement of bumble bees. We are doing this with the help of tiny radio tags that track their movement!"
              buttonText="Learn More"
              buttonLink="/experience/env-stressors"
            />
            <ProjectCard
              image="/pictures/Project2A.jpg"
              title="Learning their needs by tracking the bees"
              description="In this project we tagged spring bumble bee queens and late summer bumble bee queens to learn more about their movement behaviour, habitat selection, and about their nesting and overwintering habitat locations."
              buttonText="Learn More"
              buttonLink="/experience/bee-needs"
            />
            <ProjectCard
              image="/pictures/pathogen.jpg"
              title="Pathogen risk to bumble bees across Canada"
              description="In this project we aim to identify regions in Canada where pathogen spillover from managed bees poses the highest risk to wild bumble bees, helping to prioritize conservation efforts."
              buttonText="Learn More"
              buttonLink="/experience/pathogen"
            />
            <ProjectCard
              image="/pictures/urbangardens.jpg"
              title="Urban bees response to backyard gardens"
              description="We looked at the diversity of native bees in bee-friendly urban gardens in Kelowna, British Columbia, and to explore how garden characteristics and surrounding urbanization influence bee populations."
              buttonText="Learn More"
              buttonLink="/experience/urban-gardens"
            />
            <ProjectCard
              image="/pictures/Project3A.jpg"
              title="Does soil temperature predict bumble bee queen emergence in spring?"
              description="To test the impact of soil temperature on queen bumble bee emergence timing, we surveyed for bumble bee queens, while simultaneously measuring soil temperature at different depths."
              buttonText="Learn More"
              buttonLink="/experience/soil-temperature"
            />
          </Article>
        </section>
        <section>
          <Article>
            <Heading
              slot="header"
              level={1}
              gradient
              class="inline-block py-1"
              text="Past experience"
            />

            <ProjectCard
              image="/pictures/Experience1.JPG"
              title="Connectivity and Conservation"
              description="My first postdoctoral fellowship position was at the University of British Columbia Okanagan, supervised by Drs. Jason Pither, Adam Ford, Lael Parrot, Josie Hughes, and Richard Pither. We are working in a large collaborative group to synthesize future research directions for connectivity conservation."
            />

            <ProjectCard
              image="/pictures/Experience2.jpg"
              title="Bumble Bee Conservation"
              description="My PhD research at York University focused on at-risk bumble bee species' habitat with the Native Pollinator Research Lab (supervised by Dr. Sheila Colla). I used a variety of methods, including literature reviews, local-scale surveys, landscape-scale models, and detection dogs, to map bumble bee conservation priority areas across Canada."
            />

            <ProjectCard
              image="/pictures/Experience3.JPG"
              title="Native Plant Restoration & Ecological Research"
              description="Earlier research experiences, including my MSc and BSc, have taken me across various ecosystems. I studied native plant restoration in the Californian deserts, investigated cyanobacteria abundance in northern Ontario lakes, and examined seed germination with and without plant interactions in the alpine-tundra of northern British Columbia."
            />

            <!-- CV Embed -->
            <div class="grid place-items-center my-8">
              <object
                data="/AmandaLicznerCV.pdf#toolbar=0"
                type="application/pdf"
                width="80%"
                height="800px"
              >
              </object>
            </div>
          </Article>
        </section>
      </Content>
    </Layout>
  </main>
</html>
