---
interface Props {
  title?: string
  description?: string
  align?: 'center' | 'left' | 'right'
}

const { title, description, align } = Astro.props
---

<section class="pb-12 lg:pb-24">
  <div class="container mx-auto">
    <div class="max-w-4xl mx-auto border border-gray-300 rounded-3xl p-px">
      <div
        class:list={[
          'flex flex-col gap-12 bg-neutral-100/80 rounded-3xl px-6 lg:px-12 xl:px-18 py-12 lg:py-24',
          align === 'center' ? 'text-center' : '',
        ]}
      >
        <div class="flex flex-col gap-4">
          {
            title && (
              <h2
                class:list={[
                  'text-neutral-700 text-3xl lg:text-4xl [&>strong]:font-medium',
                  align === 'center' ? 'mx-auto' : '',
                ]}
                set:html={title}
              />
            )
          }
          {
            description && (
              <p
                class:list={[
                  'text-neutral-500 lg:text-lg',
                  align === 'center' ? 'mx-auto' : '',
                ]}
                set:html={description}
              />
            )
          }
        </div>

        <div>
          <slot />
        </div>
      </div>
    </div>
  </div>
</section>
