---
import HeroGradient from '../components/HeroGradient.astro'

interface Props {
  title?: string
  description?: string
  align?: 'center' | 'left'
}

const { title, description, align = 'left' } = Astro.props
---

<section class="relative min-h-screen h-screen text-neutral-700 overflow-clip">
  <div class="relative flex items-center w-full h-full overflow-clip">
    <HeroGradient />

    <div
      class:list={[
        'relative container flex flex-col gap-8 sm:gap-12 lg:gap-16 px-4 sm:px-6',
        align === 'center' ? 'text-center items-center' : '',
      ]}
    >
      <div class="flex flex-col gap-6 sm:gap-8">
        {
          title && (
            <h1
              class:list={[
                'text-white text-[clamp(3rem,12vw,10rem)] leading-[0.95] [&>strong]:font-medium drop-shadow-2xl',
                'font-greatVibes',
                align === 'center' ? 'mx-auto' : '',
              ]}
              set:html={title}
            />
          )
        }
        {
          description && (
            <p
              class:list={[
                'text-white text-lg sm:text-2xl lg:text-4xl tracking-wide drop-shadow-lg max-w-2xl',
                align === 'center' ? 'mx-auto' : '',
              ]}
              set:html={description}
            />
          )
        }
      </div>

      <div class="flex flex-col gap-4">
        <slot />
      </div>
    </div>
  </div>
</section>
