---
import Card from '../components/Card.astro'

import bumblebeeIcon from '../icons/bee.svg?raw'
import book from '../icons/book.svg?raw'
import contact from '../icons/contact.svg?raw'
import experience from '../icons/experience.svg?raw'
---

---

<section class="py-8 lg:py-16 z-10">
  <div class="container flex flex-col gap-16">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 xl:gap-16">
      <li>
        <Card
          type="primary"
          icon={book}
          title="Skills & Education"
          href="/skills-education"
        />
      </li>

      <li>
        <Card
          type="primary"
          icon={bumblebeeIcon}
          title="Current Work"
          href="/current-work"
        />
      </li>
      <li>
        <Card
          type="primary"
          icon={experience}
          title="Experience"
          href="/experience"
        />
      </li>
      <li>
        <Card
          type="primary"
          icon={contact}
          title="Collaborate & Contact"
          href="/contact"
        />
      </li>
    </ul>
  </div>
</section>
