---
import Card from '../components/Card.astro'
---

<section class="py-8 lg:py-16">
  <div class="container flex flex-col gap-16">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 xl:gap-16">
      <li>
        <Card
          type="primary"
          icon="star"
          title="Education"
          href="/guide/installation"
        />
      </li>
      <li>
        <Card
          type="secondary"
          icon="ellipse"
          title="Easy Integration"
          href="/guide/installation"
        />
      </li>
      <li>
        <Card
          type="secondary"
          icon="square"
          title="Responsive Design"
          href="/guide/installation"
        />
      </li>
      <li>
        <Card
          type="secondary"
          icon="triangle"
          title="Customizable"
          href="/guide/installation"
        />
      </li>
      <li>
        <Card
          type="primary"
          icon="hexagon"
          title="Scalable"
          href="/guide/installation"
        />
      </li>
      <li>
        <Card
          type="secondary"
          icon="circle"
          title="User-Friendly"
          href="/guide/installation"
        />
      </li>
    </ul>
  </div>
</section>
