---
import Card from '../components/Card.astro'

import bumblebeeIcon from '../icons/bee.svg?raw'
import book from '../icons/book.svg?raw'
import contact from '../icons/contact.svg?raw'
import experience from '../icons/experience.svg?raw'
---

---

<section class="py-12 lg:py-20 z-10 relative">
  <div class="container flex flex-col gap-16 px-4 sm:px-6">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-8">
      <li>
        <Card
          type="primary"
          icon={book}
          title="Skills & Education"
          href="/skills-education"
        />
      </li>

      <li>
        <Card
          type="primary"
          icon={bumblebeeIcon}
          title="Recent work"
          href="/experience"
        />
      </li>
      <li>
        <Card
          type="primary"
          icon={experience}
          title="Experience"
          href="/experience#past-experience"
        />
      </li>
      <li>
        <Card
          type="primary"
          icon={contact}
          title="Collaborate & Contact"
          href="/contact"
        />
      </li>
    </ul>
  </div>
</section>
