---
import Card from '../components/Card.astro'
import fs from 'fs'

const bumblebeeIcon = fs.readFileSync('./src/icons/bee.svg', 'utf-8')
const book = fs.readFileSync('./src/icons/book.svg', 'utf-8')
const contact = fs.readFileSync('./src/icons/contact.svg', 'utf-8')
const experience = fs.readFileSync('./src/icons/experience.svg', 'utf-8')
---

<section class="py-8 lg:py-16">
  <div class="container flex flex-col gap-16">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 xl:gap-16">
      <li>
        <Card
          type="primary"
          icon={book}
          title="Skills & Education"
          href="/guide/installation"
        />
      </li>

      <li>
        <Card
          type="primary"
          icon={bumblebeeIcon}
          title="Current Work"
          href="/current-work"
        />
      </li>
      <li>
        <Card
          type="primary"
          icon={experience}
          title="Experience"
          href="/guide/installation"
        />
      </li>
      <li>
        <Card
          type="primary"
          icon={contact}
          title="Collaborate & Contact"
          href="/guide/installation"
        />
      </li>
    </ul>
  </div>
</section>
