---
import ContentGradient from '../components/ContentGradient.astro'
---

<main class="relative min-h-dvh">
  <ContentGradient />

  <div class="relative w-full max-w-6xl mx-auto p-6">
    <slot />
  </div>
</main>
