---
import Content from '../../layouts/Content.astro'
import Heading from '../../components/Heading.astro'
import Article from '../../components/Article.astro'
import Layout from '../../layouts/Layout.astro'
import Sidebar from '../../layouts/Sidebar.astro'
import Header from '../../components/Header.astro'
import ProjectCard from '../components/project-card.astro'
import Text from '../../components/Text.astro'
import '../../styles/main.scss'
---

<Layout title="Homepage - Amanda Liczner">
  <Sidebar class="lg:hidden" />
  <Header />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block py-1"
          text="My Work"
        />
        <Text>Click on a project below to learn about my work </Text>
        <ProjectCard
          image="/pictures/Project1A.JPG"
          title="Impacts of environmental stressors on bumble bee queen movement"
          description="We are testing for possible impacts of pesticides on the movement of bumble bees. We are doing this with the help of tiny radio tags that track their movement!"
          buttonText="Learn More"
          buttonLink="/current-work/env-stressors"
        />
        <ProjectCard
          image="/pictures/Project2A.jpg"
          title="Learning their needs by tracking the bees"
          description="In this project we tagged spring bumble bee queens and late summer bumble bee queens to learn more about their movement behaviour, habitat selection, and about their nesting and overwintering habitat locations."
          buttonText="Learn More"
          buttonLink="/current-work/bee-needs"
        />
        <ProjectCard
          image="/pictures/Project2A.jpg"
          title="Pathogen risk to bumble bees across Canada"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.."
          buttonText="Learn More"
          buttonLink="/current-work/bee-needs"
        />
        <ProjectCard
          image="/pictures/Project2A.jpg"
          title="Urban bees response to backyard gardens"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.."
          buttonText="Learn More"
          buttonLink="/current-work/bee-needs"
        />
        <ProjectCard
          image="/pictures/Project3A.jpg"
          title="Does soil temperature predict bumble bee queen emergence in spring?"
          description="To test the impact of soil temperature on queen bumble bee emergence timing, we surveyed for bumble bee queens, while simultaneously measuring soil temperature at different depths."
          buttonText="Learn More"
          buttonLink="/current-work/soil-temperature"
        />
      </Article>
    </section>
  </Content>
</Layout>
